@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
body {
   background-color: #2e2e2e;
   color: white;
   font-family: "Poppins", sans-serif;
   text-align: center;
   margin: 0;
   padding: 0;
   max-width: 100vw;
   min-height: 100vh;
}


.introscreen{
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introscreen img{
   height: auto;
   width: 100vw;
}
.introscreen div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
    font-weight: 800;
}

.introscreen .tap{
   color: gray ;
   font-size: 8px;
   top: 60%;
}


.loadimages{
    display: none;
}
.bg {
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   background-image: url('images/birthday1.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-blend-mode: overlay;
   z-index: -2;
}
.bg::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: -1; 
  }
  
  .bg::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('images/birthday1.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%); 
    z-index: -3;
  }

.content p {
   color: white;
   text-shadow: blue 2px 2px 10px;
   font-size: 15px;
}
.content p:first-of-type {
   font-size: 2em;
   color: rgb(201, 54, 201);
}
.content p:last-of-type {
   font-size: 1.5em;
   color: rgb(201, 54, 201);
}

header {
   padding: 20px;
}

h1 {
   font-size: 36px;
   margin-top: 0;
   color: purple;
   animation: rainbow 2s linear infinite;
}

.content {
   max-width: 800px;
   margin: 0 auto;
   padding: 4px;
   animation: fadeIn 1s ease-in;
}

@keyframes rainbow {
   0% {
      color: purple;
   }
   20% {
      color: pink;
   }
   40% {
      color: green;
   }
   60% {
      color: yellow;
   }
   80% {
      color: orange;
   }
   100% {
      color: purple;
   }
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

p {
   font-size: 18px;
   line-height: 1.5;
   margin-bottom: 20px;
}

.photos {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 40px;
}

.photos img {
   width: 200px;
   height: 200px;
   object-fit: cover;
   border-radius: 50%;
   margin: 50px 10px;
}
.photos img:nth-of-type(2) {
   border-radius: 20%;
}

.body {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 100px;
}

.birthdayCard {
   position: relative;
   width: 250px;
   height: 350px;
   cursor: pointer;
   transform-style: preserve-3d;
   transform: perspective(2500px);
   transition: 1s;
   margin-bottom: 100px;
}

.cardFront {
   position: relative;
   background-color: #9c9696;
   width: 250px;
   height: 350px;
   overflow: hidden;
   transform-origin: left;
   box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
      30px 0 50px rgba(0, 0, 0, 0.4);
   transition: 0.6s;
}
.tap {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
}
.cardFront .tap{
   color: black;
}

.cardInside {
   position: absolute;
   background-color: #fff;
   background: url(images/AnishaaB&W.jpg);
   background-size: cover;
   border: 2px solid yellowgreen;
   width: 250px;
   height: 350px;
   z-index: -1;
   left: 0;
   top: 0;
   box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

p {
   font-family: cursive;
   margin: 40px;
   color: rgb(224, 229, 245);
   text-shadow: #000000 1px 2px 1px;
}

.back {
   font-family: Tahoma, sans-serif;
   color: white;
   text-align: center;
   margin: 30px;
   outline-color: purple;
   outline-style: dotted;
}

.birthdayCard:hover {
   transform: perspective(2500px) rotate(5deg);
   box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
      0 10px 100px rgba(0, 0, 0, 0.5);
}

.birthdayCard:hover .cardFront {
   transform: rotateY(-160deg);
}

.birthdayCard:hover .happy {
   visibility: hidden;
}
